*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    color: black;
}
.header{
    width: 100%;
    height: 850px;
    
        background-image: url(old\ munk\ background\ image.png);
  
  background-size: cover;
  display: flex;

  font:#fff;
  
}
.nav{
    width:50%;
    
}
#s2{
    height: 10px;
}
.nav img{
    width: 300px;
    height:300px;
    position: absolute;
    left:180px;

}


 .nav h1{
   
    position:absolute;
    top:350px;
    left: 60px;
    color:#fff;
font-size:70px;

}
.right{
    width:50%;
 font-size: 30px;
 font-weight: 900;
    position: absolute;
    left:55%;
    top:110px;
    color:#fff;
    padding: 30px;
}
.AB{
   padding-right: 30px;
}
.AB:hover{
    border:3px;
    cursor:pointer;
    background-color:black;
    padding-left: 5px;
}
.body{
    width:100%;
    height:50vh;
    display: flex;
    background-color: #fff;
    COLOR:black;
    margin-top: 60px;
}
.left-body{
width:60%;
align-items: center;
padding-top: 40px;
font-size: 35px;
}
.left-body p{
    margin-left: 80px;
}
.right-body{
    position: relative;
    top: 60px;
    left: 80px;
}
.right-body img{
width: 400px;
height:500px;
}
.footer{
   width:100vw;
    height:400px;background-color: black;
    color:#fff;

text-align: center;

}
.footer p{
    font-size:30px;
   
    padding-top:100px;
}
#ZA{
    padding-top:15px ;
}
#one{
    text-align:end;
    padding-top: 60px;
    padding-right:120px;
    font-size: 15px;
    font-weight: 300;

}